<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>회원가입 약관동의</title>
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/plugin.css">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            const inquireLink = document.getElementById("inquireLink");

            if (inquireLink) { // 링크가 존재할 경우에만 이벤트 리스너 추가
                inquireLink.addEventListener("click", function() {
                    const isLoggedIn = "[[${session.auth != null ? 'true' : 'false'}]]" === "true";

                    if (!isLoggedIn) {
                        alert("로그인 후 이용할 수 있습니다.");
                        location.href = "/login/login"; // 로그인 페이지로 리다이렉트
                    } else {
                        location.href = "/inquire/inquireWrite"; // 1:1 문의 페이지로 이동
                    }
                });
            }
        });
    </script>
</head>

<body>
 <!-- [S]tedu-N3 -->
    <div class="tedu-N3" data-bid="XEm3ZgHi4n">
        <div class="header-container lightmode">
            <div class="header-top">
                <div class="inner">
                    <div class="header-member">
                        <th:block th:if="${session.auth == null}">
                            <a href="/login/login">
                                <em class="ico">
                                    <img src="/icons/ico_login.svg" alt="로그인 아이콘">
                                </em>
                                <span>로그인</span>
                            </a>
                            <a href="/register/membershipAgree">
                                <em class="ico">
                                    <img src="/icons/ico_member.svg" alt="회원가입 아이콘">
                                </em>
                                <span>회원가입</span>
                            </a>
                        </th:block>

                        <th:block th:if="${session.auth != null}">
                            <a href="/login/logout">
                                <em class="ico">
                                    <img src="/icons/ico_login.svg" alt="로그아웃 아이콘">
                                </em>
                                <span>로그아웃</span>
                            </a>
                            <th:block th:if="${session.auth.grade == 'mem'}">
                                <a href="/myPage/memMyPage">
                                    <em class="ico">
                                        <img src="/icons/ico_member.svg" alt="마이페이지 아이콘">
                                    </em>
                                    <span>마이페이지</span>
                                </a>
                            </th:block>
                            <th:block th:if="${session.auth.grade == 'emp'}">
                                <a href="/myPage/empMyPage">
                                    <em class="ico">
                                        <img src="/icons/ico_member.svg" alt="마이페이지 아이콘">
                                    </em>
                                    <span>마이페이지</span>
                                </a>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="inner">
                    <div class="header-logo">
                        <a href="/">
                            <img src="/images/pickers_logo_main.png" alt="로고">
                        </a>
                    </div>
                    <div class="header-gnb">

                    </div><br><br><br>
                    <div class="header-btn">
                        <a href="javascript:void(0)" class="menu-open">
                            <em class="ico">
                                <img src="/icons/ico_menu.svg" alt="메뉴 아이콘">
                            </em>
                        </a>
                        <a href="javascript:void(0)" class="menu-close">
                            <em class="ico">
                                <img src="/icons/ico_close.svg" alt="닫기 아이콘">
                            </em>
                        </a>
                    </div>
                </div>
            </div>


            <section class="header-area">
                <div class="inner">
                    <div class="menu-wrap">
                        <div class="menu-box">
                            <a class="menu-title">강의</a>
                            <a href="/lecture/lectureList">강의</a>
                            <th:block th:if="${session.auth != null && session.auth.grade == 'mem'}">
                                <a href="/lecture/mylectureList">my강의</a>
                                <a href="/item/cartList">장바구니</a>
                                <a href="/item/wishList">찜</a>
                            </th:block>
                            <th:block th:if="${session.auth != null && session.auth.grade == 'emp'}">
                                <a href="/lecture/emplectureList">강의 관리</a>
                                <a href="/orders/empOrderList">주문 관리</a>
                            </th:block>
                        </div>
                        <div class="menu-box">
                            <a class="menu-title">인사이트</a>
                            <a href="/news/newsListM">뉴스</a>
                            <a href="/company/companyListM">기업</a>
                            <a href="/stock/stockListM">주식</a>
                            <th:block th:if="${session.auth != null && session.auth.grade == 'emp'}">
                                <a href="/news/newsList">뉴스 관리</a>
                                <a href="/company/companyList">기업 관리</a>
                                <a href="/stock/stockList">주식 관리</a>
                            </th:block>
                        </div>
                        <div class="menu-box">
                            <a class="menu-title">커뮤니티</a>
                            <a href="/board/boardQueList">질문게시판</a>
                            <a href="/board/boardFreeList">자유게시판</a>
                            <a href="/board/boardProfitList">수익인증</a>
                            <a href="/board/boardTipList">꿀팁공유</a>
                        </div>
                        <div class="menu-box">
                            <a class="menu-title">교육</a>
                            <a href="/chart/list">교육</a>
                            <a th:href="@{/word/wordSearch}">용어</a>
                            <th:block th:if="${session.auth != null && session.auth.grade == 'emp'}">
                                <a th:href="@{/word/wordList}">용어 관리</a>
                            </th:block>
                        </div>
                        <th:block th:if="${session.auth != null}">
                            <div class="menu-box">
                                <a class="menu-title">MY</a>
                                <th:block th:if="${session.auth.grade == 'mem'}">
                                    <a href="/inquire/inquireListM">1:1 문의내역</a>
                                    <a th:href="@{/lectureInquire/lectureInquireListM/{memNum}(memNum=${session.memNum})}">강의 문의내역</a>
                                    <a href="/orders/orderList">강의 주문내역</a>
                                </th:block>
                                <th:block th:if="${session.auth.grade == 'emp'}">
                                    <a href="/inquire/inquireList">1:1문의 관리</a>
                                    <a href="/lectureInquire/lectureInquireList">강의질문 관리</a>
                                </th:block>
                            </div>
                        </th:block>
                        <th:block th:if="${session.auth != null && session.auth.grade == 'emp'}">
                            <div class="menu-box">
                                <a class="menu-title">유저</a>
                                <a href="/member/memList">회원 관리</a>
                                <a href="/employee/empList">직원 관리</a>
                            </div>
                        </th:block>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- [E]tedu-N3 -->
  <main class="th-layout-main ">
    <!-- [S]tedu-N37 -->
    <div class="tedu-N37" data-bid="CHM3zgKH3H">
      <div class="content-inner">
        <div class="content-container">
          <div class="member-wrap-02">
            <ul class="step-list">
              <li class="step active">
                <span class="step-num">1</span>
                <p>약관동의</p>
              </li>
              <li class="step">
                <span class="step-num">2</span>
                <p>정보입력</p>
              </li>
              <li class="step">
                <span class="step-num">3</span>
                <p>가입완료</p>
              </li>
            </ul>
            <div class="form-wrap">
              <form>
                <div class="form-header">
                  <h3 class="form-tit">회원가입 약관동의</h3>
                  <div class="form-desc"> 템하에듀를 체계적으로 이용하기 위해 회원 정보 관리를 위하여 아래와 같이 개인정보를 수집 및 이용동의를 제공하고자 합니다. <br>아래의 내용을 반드시 읽으신 후 서비스 약관 동의 여부를 결정하여 동의합니다에 체크하여주시기 바랍니다. </div>
                </div>
                <div class="form-body">
                  <div class="form-all-check">
                    <div class="checkset">
                      <input id="checkset-all" class="checkset-input input-round" type="checkbox" value="" checked="">
                      <label class="checkset-label" for="checkset-all"></label>
                      <span class="checkset-text">전체동의</span>
                    </div>
                    <p class="checkset-desc">
                      <span class="br">아래 동의 항목을 개별 확인 후 각 항목마다 개별적으로 동의하실 수 있습니다.</span> 전체 동의 시 체크되는 동의 항목에는 선택 동의 항목도 포함되어 있습니다.
                    </p>
                  </div>
                  <div class="accordset accordset-arrow">
                    <div class="accordset-item">
                      <div class="accordset-header">
                        <div class="checkset">
                          <input id="checkset-c-3-2" class="checkset-input input-round" type="checkbox" value="" checked="">
                          <label class="checkset-label" for="checkset-c-3-2"></label>
                        </div>
                        <button class="accordset-button btn" type="button">(필수) 개인정보수집 및 이용에 대한 동의</button>
                      </div>
                      <div class="accordset-body">
                        <div class="accordset-content"> 템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다. </div>
                      </div>
                    </div>
                    <div class="accordset-item">
                      <div class="accordset-header">
                        <div class="checkset">
                          <input id="checkset-c-3-3" class="checkset-input input-round" type="checkbox" value="" checked="">
                          <label class="checkset-label" for="checkset-c-3-3"></label>
                        </div>
                        <button class="accordset-button btn" type="button">(필수) 이용약관</button>
                      </div>
                      <div class="accordset-body">
                        <div class="accordset-content"> 템플릿 하우스는 ​별도의 설치 없이 ​어디서든 가장 쉽고 빠르게 HTML 코딩이 가능합니다. <br>HTML, CSS, JavaScript 기반으로 제공되는 블록과 ​다양한 테마를 활용하여 사용자가 직접 블록을 <br> 드래그, 편집, 드래그하여 멋진 웹 사이트를 가장 쉽고, 빠르게 만들 수 있습니다. </div>
                      </div>
                    </div>
                    <div class="accordset-item active">
                      <div class="accordset-header">
                        <div class="checkset">
                          <input id="checkset-c-3-4" class="checkset-input input-round" type="checkbox" value="" checked="">
                          <label class="checkset-label" for="checkset-c-3-4"></label>
                        </div>
                        <button class="accordset-button btn" type="button">(선택) 마케팅 활용 및 광고성정보 수신을 위한 개인정보 이용 동의</button>
                      </div>
                      <div class="accordset-body bt-0">
                        <div class="accordset-content column">
                          <p class="accodset-desc">
                            <span class="br">템하에듀를 체계적으로 이용하기 위해 회원 정보 관리를 위하여 아래와 같이 개인정보를 수집 및 이용동의를 제공하고자 합니다.</span> 아래의 내용을 반드시 읽으신 후 서비스 약관 동의 여부를 결정하여 동의합니다에 체크하여주시기 바랍니다.
                          </p>
                          <div class="radio-group">
                            <div class="checkset">
                              <input id="checkset-sms-1" class="checkset-input" type="checkbox" value="" checked="">
                              <label class="checkset-label" for="checkset-sms-1"></label>
                              <span class="checkset-text">SMS 수신동의</span>
                            </div>
                            <div class="checkset">
                              <input id="checkset-sms-2" class="checkset-input" type="checkbox" value="">
                              <label class="checkset-label" for="checkset-sms-2"></label>
                              <span class="checkset-text">전화 수신동의</span>
                            </div>
                            <div class="checkset">
                              <input id="checkset-sms-3" class="checkset-input" type="checkbox" value="">
                              <label class="checkset-label" for="checkset-sms-3"></label>
                              <span class="checkset-text">E-mail 수신동의</span>
                            </div>
                          </div>
                          <div class="tedu-table tedu-tb-light">
                            <div class="table-inner">
                              <table class="tedu-table-pc">
                                <colgroup>
                                  <col class="col-4">
                                  <col class="col-4">
                                  <col class="col-4">
                                </colgroup>
                                <thead>
                                  <tr>
                                    <th scope="col">수집 및 이용목적</th>
                                    <th scope="col">수집 항목</th>
                                    <th scope="col" class="bdr-none">보유기간</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>이메일, 휴대폰번호, 주소</td>
                                    <td>행사 및 상품정보 안내 / 마케팅 활동</td>
                                    <td class="bdr-none">회원가입 신청 시점부터 1년간 이용실적 없을 경우</td>
                                  </tr>
                                </tbody>
                              </table>
                              <table class="tedu-table-mo">
                                <colgroup>
                                  <col>
                                  <col>
                                </colgroup>
                                <tbody>
                                  <tr>
                                    <th scope="row" class="bdt-none">수집 및 이용목적</th>
                                    <td>이메일, 휴대폰번호, 주소</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">수집 항목</th>
                                    <td>행사 및 상품정보 안내 / 마케팅 활동</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">보유기간</th>
                                    <td>회원가입 신청 시점부터 1년간 이용실적 없을 경우</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <small class="small"> 위 개인정보 수집 및 이용에 대한 동의를 거부할 수 있으나 동의 거부 시 할인 및 이벤트 정보 안내 등의 서비스가 제한됩니다. </small>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-footer btn-box">
                  <a class="tedu-btn tedu-btn-light btn-mono" href="/">동의하지 않습니다.</a>
                  <a class="tedu-btn tedu-btn-light btn-link" href="/register/membershipInfo">약관에 동의합니다.</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N37 -->
  </main>
 <!-- [S]tedu-N17 -->
    <div class="tedu-N17" data-bid="fLM3zgHIUl">
        <div class="footer-container">
            <div class="footer-top">
                <div class="inner">
                    <div class="footer-menu">
                        <th:block th:if="${session.auth == null or session.auth.grade == 'emp'}">
                            <a th:href="@{/employee/empWrite}">직원가입</a>
                        </th:block>
                        <th:block th:if="${session.auth == null or session.auth.grade != 'emp'}">
                            <a href="javascript:void(0);" id="inquireLink">1:1 문의</a>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="footer-area">
                <div class="inner">
                    <dif class="footer-info-wrap">
                        <div class="footer-logo">
                            <a href="javascript:void(0)">
                                <img src="/images/pickers_logo_footer.png" alt="로고">
                            </a>
                        </div>
                        <div class="footer-info">
                            <span>경기도 안양시 만안구 성결대학로 53 성결관 301호</span>
                            <span>T. 010-1234-5678</span>
                            <span>E. pickers@official.co.kr</span>
                            <span class="copy">2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</span>
                        </div>
                    </dif>
                </div>
            </div>
        </div>
    </div>
    <!-- [E]tedu-N17 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>