.real-time-table-container {
  position: relative;
  width: 100%; /* 부모 컨테이너에 맞춤 */
  max-width: 1200px; /* 테이블의 최대 너비 */
  height: 352px; /* 고정된 높이 */
  overflow-y: auto; /* 스크롤 활성화 */
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.real-time-table {
  width: 100%; /* 컨테이너에 맞춤 */
  border-collapse: collapse; /* 셀 경계 제거 */
}

.real-time-table th,
.real-time-table td {
  padding: 10px;
  text-align: center;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.real-time-table-empty {
  text-align: center;
  font-size: 14px;
  color: #888;
  padding: 20px;
}
.chart-container {
    position: relative;
    width: 100%;
    height: 600px; /* 적절한 세로 길이 설정 */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    box-sizing: border-box; /* 패딩 포함 크기 계산 */
}

#realTimeChart {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.cardset.cardset-hover.cardset-border.cardset-round {
    height: auto; /* 높이를 자동으로 확장 */
    flex-grow: 1; /* 여유 공간을 차지 */
    display: flex;
    flex-direction: column;
}



