<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="imagetoolbar" content="no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <meta name="title" content="웹사이트">
  <meta name="description" content="웹사이트입니다.">
  <meta name="keywords" content="키워드,키워드,키워드">
  <meta property="og:title" content="웹사이트">
  <meta property="og:description" content="웹사이트입니다">
  <meta property="og:image" content="https://웹사이트/images/opengraph.png">
  <meta property="og:url" content="https://웹사이트">
  <title>주문</title>
  <link rel="stylesheet" href="/css/setting.css">
  <link rel="stylesheet" href="/css/plugin.css">
  <link rel="stylesheet" href="/css/template.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/style.css">
  <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {
            const inquireLink = document.getElementById("inquireLink");

            if (inquireLink) { // 링크가 존재할 경우에만 이벤트 리스너 추가
                inquireLink.addEventListener("click", function() {
                    const isLoggedIn = "[[${session.auth != null ? 'true' : 'false'}]]" === "true";

                    if (!isLoggedIn) {
                        alert("로그인 후 이용할 수 있습니다.");
                        location.href = "/login/login"; // 로그인 페이지로 리다이렉트
                    } else {
                        location.href = "/inquire/inquireWrite"; // 1:1 문의 페이지로 이동
                    }
                });
            }
        });
    </script>
</head>

<body>
  <!-- [S]tedu-N3 -->
    <div class="tedu-N3" data-bid="XEm3ZgHi4n">
        <div class="header-container lightmode">
            <div class="header-top">
                <div class="inner">
                    <div class="header-member">
                        <th:block th:if="${session.auth == null}">
                            <a href="/login/login">
                                <em class="ico">
                                    <img src="/icons/ico_login.svg" alt="로그인 아이콘">
                                </em>
                                <span>로그인</span>
                            </a>
                            <a href="/register/membershipAgree">
                                <em class="ico">
                                    <img src="/icons/ico_member.svg" alt="회원가입 아이콘">
                                </em>
                                <span>회원가입</span>
                            </a>
                        </th:block>

                        <th:block th:if="${session.auth != null}">
                            <a href="/login/logout">
                                <em class="ico">
                                    <img src="/icons/ico_login.svg" alt="로그아웃 아이콘">
                                </em>
                                <span>로그아웃</span>
                            </a>
                            <th:block th:if="${session.auth.grade == 'mem'}">
                                <a href="/myPage/memMyPage">
                                    <em class="ico">
                                        <img src="/icons/ico_member.svg" alt="마이페이지 아이콘">
                                    </em>
                                    <span>마이페이지</span>
                                </a>
                            </th:block>
                            <th:block th:if="${session.auth.grade == 'emp'}">
                                <a href="/myPage/empMyPage">
                                    <em class="ico">
                                        <img src="/icons/ico_member.svg" alt="마이페이지 아이콘">
                                    </em>
                                    <span>마이페이지</span>
                                </a>
                            </th:block>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="header-nav">
                <div class="inner">
                    <div class="header-logo">
                        <a href="/">
                            <img src="/images/pickers_logo_main.png" alt="로고">
                        </a>
                    </div>
                    <div class="header-gnb">

                    </div><br><br><br>
                    <div class="header-btn">
                        <a href="javascript:void(0)" class="menu-open">
                            <em class="ico">
                                <img src="/icons/ico_menu.svg" alt="메뉴 아이콘">
                            </em>
                        </a>
                        <a href="javascript:void(0)" class="menu-close">
                            <em class="ico">
                                <img src="/icons/ico_close.svg" alt="닫기 아이콘">
                            </em>
                        </a>
                    </div>
                </div>
            </div>


            <section class="header-area">
                <div class="inner">
                    <div class="menu-wrap">
                        <div class="menu-box">
                            <a class="menu-title">강의</a>
                            <a href="/lecture/lectureList">강의</a>
                            <th:block th:if="${session.auth != null && session.auth.grade == 'mem'}">
                                <a href="/lecture/mylectureList">my강의</a>
                                <a href="/item/cartList">장바구니</a>
                                <a href="/item/wishList">찜</a>
                            </th:block>
                            <th:block th:if="${session.auth != null && session.auth.grade == 'emp'}">
                                <a href="/lecture/emplectureList">강의 관리</a>
                                <a href="/orders/empOrderList">주문 관리</a>
                            </th:block>
                        </div>
                        <div class="menu-box">
                            <a class="menu-title">인사이트</a>
                            <a href="/news/newsListM">뉴스</a>
                            <a href="/company/companyListM">기업</a>
                            <a href="/stock/stockListM">주식</a>
                            <th:block th:if="${session.auth != null && session.auth.grade == 'emp'}">
                                <a href="/news/newsList">뉴스 관리</a>
                                <a href="/company/companyList">기업 관리</a>
                                <a href="/stock/stockList">주식 관리</a>
                            </th:block>
                        </div>
                        <div class="menu-box">
                            <a class="menu-title">커뮤니티</a>
                            <a href="/board/boardQueList">질문게시판</a>
                            <a href="/board/boardFreeList">자유게시판</a>
                            <a href="/board/boardProfitList">수익인증</a>
                            <a href="/board/boardTipList">꿀팁공유</a>
                        </div>
                        <div class="menu-box">
                            <a class="menu-title">교육</a>
                            <a href="/chart/list">교육</a>
                            <a th:href="@{/word/wordSearch}">용어</a>
                            <th:block th:if="${session.auth != null && session.auth.grade == 'emp'}">
                                <a th:href="@{/word/wordList}">용어 관리</a>
                            </th:block>
                        </div>
                        <th:block th:if="${session.auth != null}">
                            <div class="menu-box">
                                <a class="menu-title">MY</a>
                                <th:block th:if="${session.auth.grade == 'mem'}">
                                    <a href="/inquire/inquireListM">1:1 문의내역</a>
                                    <a th:href="@{/lectureInquire/lectureInquireListM/{memNum}(memNum=${session.memNum})}">강의 문의내역</a>
                                    <a href="/orders/orderList">강의 주문내역</a>
                                </th:block>
                                <th:block th:if="${session.auth.grade == 'emp'}">
                                    <a href="/inquire/inquireList">1:1문의 관리</a>
                                    <a href="/lectureInquire/lectureInquireList">강의질문 관리</a>
                                </th:block>
                            </div>
                        </th:block>
                        <th:block th:if="${session.auth != null && session.auth.grade == 'emp'}">
                            <div class="menu-box">
                                <a class="menu-title">유저</a>
                                <a href="/member/memList">회원 관리</a>
                                <a href="/employee/empList">직원 관리</a>
                            </div>
                        </th:block>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- [E]tedu-N3 -->
  <main class="th-layout-main ">
  
  
  
  
  <form action="goodsOrder" method="post">
  <input type="hidden" name="lectureNums" th:value="${lectureNums}">
  <input type="hidden" name="totalPaymentPrice" th:value="${sumPrice}">
  <input type="hidden" name="orderTitle" th:value="${list[0].lectureDTO.lectureTitle + ' 외 ' + (list.size() - 1) + '개' }">
  
    <!-- [S]tedu-N44 -->
    <div class="tedu-N44" data-bid="bvm3zGPm4v">
      <div class="content-inner">
        <div class="content-container">
          <section class="">
            <div class="title-wrap">
              <h3 class="cont-title">결제하기</h3>
            </div>
            
            <div class="payment-wrap">
			  <div class="payment-area">
			    <div class="title">주문 강의 정보</div><br>
			    <!-- 테이블 헤더 -->
			    <div class="table-header">			    
			      <div class="header-item"></div>
			      <div class="header-item">강의제목</div>
			      <div class="header-item">수량</div>
			      <div class="header-item">금액</div>
			    </div>
			    <!-- 테이블 데이터 -->
			    <div class="table-body">
			      <div th:each="dto : ${list}" class="table-row">
			        <!-- 이미지 -->
			        <div class="table-cell">
			          <img th:src="|/upload/${dto.lectureDTO.lectureMainStoreImage}|" alt="강의 이미지" width="50">
			        </div>
			       <div class="table-cell text-truncate">
  [[${dto.lectureDTO.lectureTitle}]]
</div>

			        <!-- 수량/상품금액 -->
			        <div class="table-cell">
			          <p>[[${dto.cartDTO.cartQty}]]</p>
			        </div>
			        <!-- 총 금액 -->
			        <div class="table-cell">
			          <p>[[${dto.lectureDTO.lecturePrice * dto.cartDTO.cartQty}]]</p>
			        </div>
			      </div>
			    </div>
			  </div>
			</div><br>

              
           <div class="payment-wrap">
  <div class="payment-area">
    <div class="title">주문자 정보</div>
    <div class="payment-cont">
      <fieldset class="fieldset">
        <p class="stitle">이름</p>
        <div class="input-group">
          <input type="text" name="orderName" class="tedu-input lightmode" 
                 th:value="${memberName}" readonly="readonly">
        </div>
      </fieldset>
      <fieldset class="fieldset">
        <p class="stitle">휴대전화</p>
        <div class="input-group">
          <input type="text" name="orderPhoneNum" class="tedu-input lightmode" 
                 th:value="${memberPhone}" readonly="readonly">
        </div>
      </fieldset>
      <fieldset class="fieldset">
        <p class="stitle">이메일</p>
        <div class="input-group">
          <input type="text" name="memEmail" class="tedu-input lightmode" 
                 th:value="${memberEmail}" readonly="readonly">
        </div>
      </fieldset>

  

                </div>
              </div>

              <div class="payment-area">
                <div class="title">결제수단선택</div>
                <div class="payment-cont">
                
                  <div class="radioset-wrap">
                    <div class="radioset lightmode">
                      <div class="radio-group">
                        <input id="radioset-a-1" name="radioset-a" class="checkset-input" type="radio" value="" checked="">
                        <label class="checkset-label" for="radioset-a-1"></label>
                        <span class="radioset-text">신용/체크카드</span>
                      </div>
                      <p class="desc">모든 카드 12개월 무이자 할부 혜택 제공</p>
                    </div>
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <!-- [E]tedu-N44 -->
    <!-- [S]tedu-N45 -->
    <div class="tedu-N45" data-bid="xJm3zgpm8A">
      <div class="content-container">
        <div class="sidebar">
          <div class="title-wrap">
            <h3 class="title">결제 상품 정보</h3>
          </div>
          <div class="pay-info-warp">			      
          
            <div class="img-area">      
            
              <img class="card-img card-img-mo" th:src="|/upload/${list[0].lectureDTO.lectureMainStoreImage}|" alt="이미지">
            </div>
            <div class="text-area">
              <div class="title">[[${list[0].lectureDTO.lectureTitle + ' 외 ' + (list.size() - 1) + '개' }]]</div>
              <p class="text">피커스</p>
            </div>
          </div>
          <div class="price-info-wrap">
            <div class="price-area">
              <span>정가</span>
              <strong>[[${#numbers.formatCurrency(sumPrice)}]]원</strong>
            </div>
            <div class="price-area">
              <span>쿠폰사용</span>
              <strong>-</strong>
            </div>
            <div class="price-area">
              <span>할인</span>
              <strong>- 0원</strong>
            </div>
            <div class="price-area price-total">
              <span>결제 금액</span>
              <strong>[[${#numbers.formatCurrency(sumPrice)}]]원</strong>
            </div>
          </div>
          <button type="submit" class="tedu-btn tedu-btn-light add-cart">결제하기</button>
        </div>
      </div>
    </div>
    </form>
    <!-- [E]tedu-N45 -->
  </main>
  <!-- [S]tedu-N17 -->
    <div class="tedu-N17" data-bid="fLM3zgHIUl">
        <div class="footer-container">
            <div class="footer-top">
                <div class="inner">
                    <div class="footer-menu">
                        <th:block th:if="${session.auth == null or session.auth.grade == 'emp'}">
                            <a th:href="@{/employee/empWrite}">직원가입</a>
                        </th:block>
                        <th:block th:if="${session.auth == null or session.auth.grade != 'emp'}">
                            <a href="javascript:void(0);" id="inquireLink">1:1 문의</a>
                        </th:block>
                    </div>
                </div>
            </div>
            <div class="footer-area">
                <div class="inner">
                    <dif class="footer-info-wrap">
                        <div class="footer-logo">
                            <a href="javascript:void(0)">
                                <img src="/images/pickers_logo_footer.png" alt="로고">
                            </a>
                        </div>
                        <div class="footer-info">
                            <span>경기도 안양시 만안구 성결대학로 53 성결관 301호</span>
                            <span>T. 010-1234-5678</span>
                            <span>E. pickers@official.co.kr</span>
                            <span class="copy">2022 BY TEMPLATEHOUSE. ALL RIGHTS RESEVED</span>
                        </div>
                    </dif>
                </div>
            </div>
        </div>
    </div>
    <!-- [E]tedu-N17 -->
  <script src="/js/setting.js"></script>
  <script src="/js/plugin.js"></script>
  <script src="/js/template.js"></script>
  <script src="/js/common.js"></script>
  <script src="/js/script.js"></script>
</body>